/* line 6, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0;
}

/* line 20, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 23, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" "";
}
/* line 101, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none;
}

/* fancy_buttons settins */
/* incase an inverted custom gradient isn't specified */
/* line 26, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 58, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 img {
  margin: 0;
}

/* line 65, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

/* line 74, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 79, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* line 84, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}

/* line 88, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 90, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 100, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
a {
  text-decoration: underline;
  color: #834227;
}
/* line 12, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited {
  color: #500f00;
}
/* line 15, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus {
  color: black;
}
/* line 18, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover {
  color: black;
}
/* line 21, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active {
  color: #ff4227;
}

/* line 103, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/* line 107, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
strong {
  font-weight: bold;
}

/* line 109, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
em {
  font-style: italic;
}

/* line 111, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 114, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
sup, sub {
  line-height: 0;
}

/* line 116, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666;
}

/* line 118, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 121, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
del {
  color: #666;
}

/* line 123, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 126, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}

/* line 129, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
li ul, li ol {
  margin: 0;
}

/* line 131, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 134, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul {
  list-style-type: disc;
}

/* line 136, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ol {
  list-style-type: decimal;
}

/* line 138, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl dt {
  font-weight: bold;
}

/* line 142, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dd {
  margin-left: 1.5em;
}

/* line 144, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 147, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th {
  font-weight: bold;
}

/* line 149, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
thead th {
  background: #c3d9ff;
}

/* line 151, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 153, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tr.even td {
  background: #e5ecf9;
}

/* line 155, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tfoot {
  font-style: italic;
}

/* line 157, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
caption {
  background: #eee;
}

/* line 159, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.quiet {
  color: #666666;
}

/* line 161, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.loud {
  color: #111111;
}

/* line 7, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
.showgrid {
  background: url('/images/grid.png');
}

/* line 36, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}

/* line 39, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}

/* line 42, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}

/* line 44, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 46, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* line 48, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.inline p {
  margin-bottom: 0;
}

/* line 5, ../../app/stylesheets/_page.sass */
body {
  background: #bedeeb;
  color: #1b495c;
  cursor: default;
  background: url('/images/grid.png');
}

/* line 11, ../../app/stylesheets/_page.sass */
a {
  color: #834227;
  text-decoration: none;
}
/* line 14, ../../app/stylesheets/_page.sass */
a:hover {
  color: #278342;
}
/* line 17, ../../app/stylesheets/_page.sass */
a.button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: normal;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 14px;
  line-height: 16.8px;
  padding: 2px 11px;
  border-width: 1px;
  background-color: #a43406;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6967b), to(#924a2d), color-stop(10%, #bc603a), color-stop(50%, #773c25), color-stop(50%, #6b3621));
  background: -moz-linear-gradient(left top, left bottom, from(#d6967b), to(#924a2d), color-stop(10%, #bc603a), color-stop(50%, #773c25), color-stop(50%, #6b3621));
  border-color: #472416;
  text-shadow: #290d02 0px 1px 1px;
  color: white;
  margin: 1em;
}
/* line 161, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 164, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button:focus {
  outline: none;
}
/* line 166, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button.disabled, a.button[disabled] {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
/* line 171, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button.disabled:hover, a.button.disabled:focus, a.button[disabled]:hover, a.button[disabled]:focus {
  cursor: default;
}
/* line 142, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button:active {
  padding: 1px 10px;
  border-width: 2px;
}
/* line 145, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, a.button[disabled] {
  padding: 2px 11px;
  border-width: 1px;
}
/* line 23, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, a.button.disabled:hover, a.button[disabled]:active, a.button[disabled]:hover {
  background-color: #a43406;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6967b), to(#924a2d), color-stop(10%, #bc603a), color-stop(50%, #773c25), color-stop(50%, #6b3621));
  background: -moz-linear-gradient(left top, left bottom, from(#d6967b), to(#924a2d), color-stop(10%, #bc603a), color-stop(50%, #773c25), color-stop(50%, #6b3621));
  border-color: #472416;
  text-shadow: #290d02 0px 1px 1px;
  color: white;
}
/* line 25, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button:hover, a.button:focus {
  background-color: #0676a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#7bbcd6), to(#2d7492), color-stop(10%, #3a97bc), color-stop(50%, #255e77), color-stop(50%, #21556b));
  background: -moz-linear-gradient(left top, left bottom, from(#7bbcd6), to(#2d7492), color-stop(10%, #3a97bc), color-stop(50%, #255e77), color-stop(50%, #21556b));
  border-color: #163947;
  text-shadow: #021e29 0px 1px 1px;
  color: white;
}
/* line 30, ../../../../../Ruby/Gems/1.8/gems/fancy-buttons-0.3.7/lib/sass/_fancy_buttons.sass */
a.button:active {
  background-color: #872a05;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b3621), to(#8b452b), color-stop(30%, #733a24), color-stop(50%, #64321f), color-stop(50%, #582c1b));
  background: -moz-linear-gradient(left top, left bottom, from(#6b3621), to(#8b452b), color-stop(30%, #733a24), color-stop(50%, #64321f), color-stop(50%, #582c1b));
  border-color: #31180f;
  text-shadow: #0c0400 0px -1px -1px;
  color: white;
}

/* line 22, ../../app/stylesheets/_page.sass */
#page {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#page {
  display: block;
}

/* line 25, ../../app/stylesheets/_page.sass */
#header, #footer, #main {
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #header, * html #footer, * html #main {
  overflow-x: hidden;
}

/* line 7, ../../app/stylesheets/_notices.sass */
.notice {
  color: #004d00;
  text-align: center;
  font-size: 14px;
  padding: 1px 0;
  margin: .15em 0;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  background: -webkit-gradient(linear, left top, left bottom, from(#85c9a4), to(#5f9575));
  background: -moz-linear-gradient(left top, left bottom, from(#85c9a4), to(#5f9575));
}
/* line 101, ../../../../../Ruby/Gems/1.8/gems/compass-0.10.0.pre5/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html .notice {
  overflow-x: hidden;
}
/* line 17, ../../app/stylesheets/_notices.sass */
.notice a {
  color: maroon;
  font-weight: bold;
  padding: .25em 0;
}
/* line 21, ../../app/stylesheets/_notices.sass */
.notice a:hover {
  color: #b30000;
  text-decoration: underline;
}
/* line 25, ../../app/stylesheets/_notices.sass */
.notice#error {
  background: notice_back(maroon);
  border-color: maroon;
  color: maroon;
  background: -webkit-gradient(linear, left top, left bottom, from(#c29ba4), to(#9f6f75));
  background: -moz-linear-gradient(left top, left bottom, from(#c29ba4), to(#9f6f75));
}
/* line 30, ../../app/stylesheets/_notices.sass */
.notice#error a:hover {
  color: #670000;
}
