body {
  background: #bedeeb;
  color: #1b495c;
  line-height: 18px;
  font-size: 14px;
  font-family: Lucida Grande, Lucida, Verdana, sans-serif;
}

a {
  color: #834127;
  text-decoration: none;
}
a:hover {
  color: #278341;
}
